* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  height: 100%;
  width:100%;
}

.card {
  background-color: aquamarine;
  border-color: azure;
  margin: 20px;
  border-radius: 20px;
}

.headname {
  padding: 10px;
  color: rgb(236, 100, 100);
  text-align: center;
}

.para {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  text-align: center;
}
 